---
import { getLangFromUrl, useTranslations, LOCALES } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;
export async function getStaticPaths() {
  return Object.keys(LOCALES).map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout
  title={t("layout.test")}
  lang={lang}
  description={t("hero.description")}
>
  <main class="container mx-auto">
    <section class="flex items-center gap-8">
      <div>
        <h1>
          <span class="fancy">Spark</span>, {t("hero.title")}
        </h1>
        <p>{t("hero.description")}</p>
      </div>
      <div class="relative hidden md:block">
        <img src="/favicon.svg" alt="spark logo" width="182" height="242" />
      </div>
    </section>

  </main>
</Layout>
